//COLORES
gris_oscuro = #444
mostaza = #cfb77e
rojo = #ba4959
azul = #797ed1
verde = #466151
blanco = #f8f8fb


body
	//background #466151
	color gris_oscuro
	font-family Arial
	font-size 16px
	transition font-size 1s
	

header 
	background-color #27272b
	figure
		display inline-block
		img 
			margin-top 10px
			width 300px
	.banderas
		display inline-block
		ul 
			li 
				display inline-block
				float top
				a 
					img
						display inline-block
						width 20px
						position relative
						top -50px
	.enlacesexternos
		display inline-block
		ul
			li
				display inline-block
				float top
				margin-left 5px
				a
					color #d1d1d5
					text-decoration none
					position relative
					top -50px
	
	.botoneslogeo 
		ul
			li
				display inline-block
				a
					margin -40px 0.5em 0 0
					color white 
					float right
					padding 0.2em 0.5em
					text-decoration none 
					font-size  italic
					text-shadow 2px 2px 0px black
					width 100px
					text-align center
					display inline-block
				.registrar
					background-color verde
				.entrar
					//background-color blanco
					background-color rojo
			

		
	

