*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 18px;
	
	background-color: #466151;
}
header{

	width: 100%;
	height: 150px;
	padding: 0.5em 0 ;
	background-color: white;
	

}
nav {
	/*background-color: #cfb77e;*/
	background-color: #ba4959;
	/*background-color: #797ed1;*/

	width: 100%;
}
#personalizar #pelota figure img{
  transition: all 1s ease;
	max-width: 100%;
}
#personalizar #pelota figure:hover img
{
	transform: rotate(360deg);
}

header img {
	
	height: 110px;
}